/*** GENERAL ***/

html, body {
  margin:0;
  padding:0;
  font-family: 'Tahoma';
}

/*** UPLOAD ***/

.upload-peinture {
  width: 1100px;
  height: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}
.upload-peinture > div:nth-child(1n) {
  width: 500px;
  margin: 25px;
}
.upload-peinture > div:nth-child(2) > input:first-of-type {
  width: 500px;
}
.upload-peinture > div:nth-child(2) > textarea {
  width: 500px;
  height: 80px;
}
.upload-peinture > div > div > img {
  max-width: 500px;
  max-height: 300px;
  height: auto;
}
.upload-peinture > div > div {
  border: 1px solid black;
  height: 300px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*** EL ***/

.list-peinture {
  list-style-type: none;
  padding: 0;
  width: 1100px;
  margin: 50px auto;
}
.list-peinture > li {
  margin: 10px 0;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 170px;
}
.list-peinture > li > div {
  display: inline-block;
  padding: 5px;
}


/*** IMAGE EL ***/

.img-box, .img-box > div {
  width: 300px;
  height: 150px;
}
.img-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box > div > img {
  max-width: 290px;
  max-height: 140px;
}

/*** TEXT EL ***/

.txt-box {
  width: 600px;
  min-height: 150px;
  vertical-align: top;
}
.txt-box > p {
  margin: 10px;
  overflow: auto;
}
.txt-box > p:first-child {
  /* font-weight: bold; */
  font-size: 1.6em;
}
.txt-box > p:nth-child(2) {
  height: 100px;
}

/*** TEXT MODIFIER EL ***/

.modif-peinture > input {
  margin-top: 10px;
  width: 500px;
}
.modif-peinture > textarea {
  margin-top: 10px;
  width: 500px;
  height: 80px;
}


/*** BUTTON EL ***/

.button-box {
  height: 150px;
  text-align: center;
  vertical-align: top;
  width: 110px;
  margin: 0 30px 0 10px;

}
.button-box > div {
  font-size: 1em;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #F2F2F2;
  margin: 6px;
  width : 98px;
  height : 35px;
}
.button-box > div > a {
  text-decoration: none;
  color: black;
}

.button-box > div:first-child, .button-box > div:nth-child(3) {
  margin-top: 40px;
  margin-bottom: 15px;
}
.button-El > a {
  cursor: pointer;
}


/*** OVERLAY EL ***/

.confirm-overlay {
  margin-left: 25px;
  position: fixed;
  top:0;
  z-index: 2;
  background-color: #F2F2F2;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 15px;
  width : 400px;
  text-align: center;
  box-sizing: border-box;
}
.confirm-overlay > p {
  margin:0 auto 20px auto;
  width: 350px;
  text-align: center;
}
.confirm-overlay > input {
  font-size: 1em!important;
  padding: 2px;
  width: 90px;
}
.suppr-peinture .confirm-overlay {
  margin-left: 345px;
}

#blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.75);
  z-index: 1;
}
